# Python
**/__pycache__/
*.pyc
**/.venv/
**/.pytest_cache/

# Node / Vite
**/node_modules/
**/dist/
**/dist-ssr/

# Env & secrets
**/.env
*.local

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
